*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #10aed3;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 400px;
}
.messi1{
    width: 200px;
    height: 200px;

    margin-right: 300px;
    animation: messi1 2s ease infinite;
}
.ball1{
    width: 60px;
    height: 60px;

    margin-left: 650px;
    transform: translateY(30px);
    animation: ball1 4s ease infinite;
}
.yamal1{
    width: 200px;
    height: 200px;

    margin-left: 300px;
    animation: yamal1 2s ease infinite;
}

@keyframes messi1 {
    from{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(70px, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes yamal1 {
    from{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-70px, 0);
    }
    to{
        transform: translate(0, 0);
    }
}
@keyframes ball1 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-325px, -180px);
    }

    50% {
        transform: translate(-650px, 0);
    }

    75% {
        transform: translate(-325px, -180px);
    }

    100% {
        transform: translate(0, 0);
    }
}
