@media screen and (min-width: 481px) and (max-width: 768px) {
    main{
        width: 768px;
        height: 652px;

        padding: 24px 48px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 40px;
    }
    .title{
        font-size: 18px;
    }
    .text{
        font-size: 14px;
    }

}
