*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}
/*----------------------header------------------------------*/
header{
    width: 100%;
    max-width: 1400px;
    height: 113px;

    background: #24204A;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.logo{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    opacity: 0.6;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 63px;

    margin-left: 650px;
}
nav ul{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.6;
}
/*------------------------section1------------------------------*/
main{
    width: 100%;
    max-width: 1400px;

    background: #24204A;

    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.section1 {
    width: 100%;
    height: 692px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #24204a;
    margin-left: 115px;
}

text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.text_1{
    width: 145px;
    height: 41px;

    border-radius: 8px;
    background: #4B4864;

    display: flex;
    align-items: center;
    justify-content: center;
}
.text_2{
    width: 261px;
    height: 88px;
}
.text_3{
    width: 570px;
    height: 85px;
}
.text_4{
    width: 200px;
    height: 56px;

    border-radius: 8px;
    background: #3F50E7;

    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1{
    color:#8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 1px;
}
.text2{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}
.text3{
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 1px;
}
.text4{
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.lamp{
    width: 375px;
    height: 411px;

    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.lamp img{
    width: 318px;
    height: 318px;

    background: lightgray 50% / cover no-repeat;
    box-shadow: 10px 20px 50px 0 rgba(0, 0, 0, 0.25);

}
.right{
    margin-right: 160px;
}
/*-------------------------section2---------------------------*/
.main2{
    width: 100%;
    max-width: 1400px;

    background: #24204A;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 {
    width: 100%;
    height: 764px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 45px 115px;
    background: #24204a;
}

.weather {
    display: flex;
    align-items: center;
    gap: 18px;
}

.weather1,
.weather2,
.weather3,
.weather4,
.weather5 {
    width: auto;
    height: auto;
}

.weather_grad1, .weather_grad2, .weather_grad3, .weather_grad4, .weather_grad5{
    width: 101.26px;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 1px;
}

.weather_icon {
    width: 56px;
    height: 56px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather1 .weather_icon {
    background: #ff6853;
}

.weather2 .weather_icon {
    background: #ff537c;
}

.weather3 .weather_icon {
    background: #80d2c4;
}

.weather4 .weather_icon {
    background: #3f50e7;
}

.weather5 .weather_icon {
    background: #96cb7c;
}
.weather_grad {
    color: #e8e8c1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
}
.white{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
