*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 50vh;
    background-color: #ff8fd6;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2{
    height: 50vh;
    background-color: #040000;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4{
    font-size: 40px;
}
p{
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}
