*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.instagram{
    width: 500px;
    height: 700px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid #040000;

    padding: 40px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-style: italic;

    display: flex;
    justify-content: center;
}
.group{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.group> .field{
    display: block;
}
.field input{
    width: 100%;
    height: 40px;
    padding: 8px;
}
.forget{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.buttom>button{
    display: block;
}
button.enter{
    display: block;
    width: 400px;
    height: 40px;
    border: 1px solid #616161;
    border-radius: 10px;

    background-color: blue;
    color: white;

    cursor: pointer;
}
.forget>.facebook>img{
    width: 50px;
    height: 50px;

    margin-top: -15px;
}
.facebook{
    display: flex;
    font-size: 20px;

    cursor: pointer;
    font-family: "Times New Roman", serif;
}
p{
    font-family: 'Playfair Display', serif;
    color: gray;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;

    margin-top: 40px;
    margin-left: -20px;
    gap: 5px;

    width: 110%;

    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 30px;
    white-space: nowrap;
}
.zapis{
    color: black;
}
.instagram-box{
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 30px;
    white-space: nowrap;

    width: 110%;
    margin-left: -20px;
}
