body{
    margin: 0;
}

div{

    margin-left: 20px;
}
.header-row{

    display: flex;
    align-items: center;
    gap: 40px;
}
.logo{

    display: flex;
    align-items: flex-start;
    gap: 100px;
    position: relative;
    top: 70px;
}

.profile{

    display: flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    top: -30px;

}
.profile-nicholson{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
}
.profile-kim{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-wuhl{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-pat{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-billy{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-michael{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-jack{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-tracey{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}
.profile-jerry{

    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: -30px;
    right: -20px;
}

.bio{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 173px;
    font-family: Copperplate, serif;

}

.bio2{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    right: 130px;
    margin-top: 225px;
    font-family: Copperplate, serif;
}

.bio3{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 210px;
    font-family: Copperplate, serif;
}

.bio4{

        background-color: lightgray;
        color: black;
        padding: 10px;
        max-width: 500px;
        font-size: 20px;
        margin-top: 150px;
    font-family: Copperplate, serif;
}

.bio5{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 340px;
    font-family: Copperplate, serif;
}
.bio6{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 348px;
    font-family: Copperplate, serif;
}
.bio7{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 228px;
    font-family: Copperplate, serif;
}
.bio8{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 80px;
    font-family: Copperplate, serif;
}
.bio9{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 243px;
    font-family: Copperplate, serif;
}
.bio10{

    background-color: lightgray;
    color: black;
    padding: 10px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 159px;
    font-family: Copperplate, serif;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}

p{
    font-family: "Copperplate Gothic Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    width: 60%;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 50px;


}

h1{
    color: white;
    width: 50%;
    font-size: 90px;
    margin-left: 4%;
    margin-bottom: 0;

}

.first text{

    margin-bottom: 0;

}

.red{

    color:red;
    background-color: black;
}


